*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  color: #ffffff;
}
.navbar {
  background-color: #4c4a48;
  padding-top: 1rem;
}
.navbar-brand {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bolder;
}
.navbar-nav {
  margin-left: 60%;
  display: flex;
}
.nav-item {
  font-size: 1.2rem;
  padding: 0 12px;
}
.nav-link {
  padding-right: 5%;
}
.drop {
  background-color: #3f3d3d;
}
.items {
  color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.drop:hover .items {
  display: block;
}

/* General */
.headings {
  font-weight: bold;
  text-align: center;
  margin-top: 6rem;
}

/* Main */
.main {
  background-color: white;
  background-attachment: fixed;
}

/* About */
.about {
  background-color: #4c4a48;
  clip-path: ellipse(228% 100% at -19.42% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hello {
  color: #cccccc;
  font-size: 3rem;
  font-weight: bold;
}

.taglines {
  color: white;
  padding-top: 1%;
}

.harsh-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.harsh-img {
  border: 2px solid rgb(235, 177, 69);
  border-radius: 50%;
  width: 70%;
}

/* Intro social icons */
.intro-icons {
  padding-top: 5%;
  padding-left: 0%;
}
.envelope {
  background: #e25748;
}
.linkedin {
  background: #007bb5;
}
.facebook {
  background: #4267b2;
}
.github {
  background: #272727;
}
.instagram {
  background: #cd486b;
}
.rounded-circle {
  color: #fff;
  padding: 16px;
  font-size: large;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
}
.rounded-circle:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}
.rounded-circle {
  border-radius: 50% !important;
}

/* About */
.about-par {
  background-color: #4c4a48;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.gap {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.codifiers-link {
  font-weight: bold;
  color: #10455e;
}

.res-button1 {
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.res {
  color: white;
}
.res:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.container-skills {
  padding: 3% 5% 3% 5%;
}
.row {
  display: flex;
}
.skills-box {
  padding-bottom: 5%;
}
.box-skills {
  padding: 30px;
  box-shadow: 0px 0 50px rgb(1 41 112 / 8%);
}
.skill-assets {
  margin-bottom: 25px;
  padding: 7%;
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.skill-title {
  color: #403f46;
  font-size: 23px;
  font-weight: bold;
}
p {
  line-height: 2;
}
.skill-par {
  font-size: 18px;
}

.container-projects {
  padding: 3% 5% 3% 5%;
}
.project-assets {
  margin-bottom: 25px;
  width: 100%;
}
.project-title {
  color: #3f3d3d;
  font-size: 23px;
  font-weight: bold;
}
.codifiers-web {
  color: #3f3d3d;
}
.project-assets-codi {
  margin-bottom: 18px;
  width: 65%;
  margin-left: 70px;
  margin-top: -15px;
}

.container-contact {
  padding: 3% 5% 3% 5%;
}

.contact-heading {
  color: #272727;
  font-weight: bold;
}
.mail-me,
.map {
  padding-bottom: 22px !important;
  font-size: xx-large;
  color: #272727 !important;
}
.contact-description,
.contact-description a {
  color: rgb(78, 78, 78);
}
.contact-row {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}
.email-box,
.phone-box {
  border-radius: 10px;
  padding: 3%;
  box-shadow: 0px 0 150px rgb(1 41 112 / 8%);
}

.foot {
  margin-top: 10%;
  padding-top: 10%;
  padding-bottom: 3%;
  background-color: #272727;
}
.foot-head1 {
  display: flex;
  justify-content: center;
  color: #fff;
}
.linktree {
  color: #fff;
}
.linktree:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}
.foot-head2 {
  display: flex;
  justify-content: center;
  color: #fff;
}

.box-contact {
  padding: 30px;
  box-shadow: 0px 0 10px rgb(1 41 112 / 8%);
  background-color: rgb(238, 207, 167);
  border-radius: 5px;
  border: 2px solid rgb(24, 24, 77);
}

/* Media queries */
@media screen and (max-width: 768px) {
  .box-skills {
    border: 2px solid white;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .navbar-nav {
    align-items: center;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-me {
    text-align: center;
    width: 100%;
  }
  .harsh-img-container {
    width: 100%;
  }
  .hello {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
}
